body {
  color: $black;
  font-size: 0.875rem;
}

.header {
  width: 100%;
  background-color: $darkSlateGray;
  position: fixed;
  top: 0;
  z-index: 1201;
  &__div__sm {
    @include flexItems(row, space-between, center);
  }
  &__div__lg {
    @include flexItems(row, flex-start, center);
  }
  .nav {
    width: auto;
    margin-left: auto;
    &_list {
      width: 100%;
      text-align: center;
      a {
        color: $silver;
        text-decoration: none;
        width: 20%;
        font-family: 1.5rem;
        padding: 0.5rem;
        margin: 1rem;
        &:hover {
          color: #fff;
        }
      }
    }
  }

  #filter_button.Mui-disabled {
    background-color: #fff;
    color: $darkBlue;
    opacity: 0.7;
    font-weight: bold;
  }
}

.side-nav {
  margin-top: 7rem;
  &-list {
    @include flexItems(column, flex-start, flex-start);
    a {
      text-decoration: none;
      font-weight: 500;
      padding: 1rem;
    }
  }
}

main {
  padding: 2.1875rem 0;
  .loadingText {
    margin-top: 1rem;
    padding-top: 3rem;
    text-align: center;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.75rem;
  table-layout: auto;
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  thead {
    font-weight: bold;
    tr {
      &:nth-of-type(1) {
        background-color: $primaryColor;
      }
    }
    th {
      border-width: 2px;
      border-style: solid;
      border-color: $silver;
      padding: 0.7rem;
      color: $black;
      &:nth-of-type(1) {
        border-left-width: 0;
        padding-left: 1rem;
      }
      &:last-of-type {
        border-right-width: 0;
        width: 4%;
      }
    }
  }
  tbody {
    .date {
      th {
        padding: 0.5rem;
      }
      background-color: #0099fa;
      font-weight: bold;
    }

    td {
      text-align: center;
      padding: 0.5rem;
      vertical-align: middle;
      &:nth-of-type(4) {
        text-align: left;
      }
      &:nth-of-type(5) {
        padding: 0.5rem 0.2rem;
      }
      &:last-of-type {
        width: 4%;
        padding: 0.5rem 0.1rem;
      }
      span {
        display: inline-block;
      }
    }
    .lg-sc {
      @include flexItems(row, space-evenly, center);
    }
    .md-sc {
      @include flexItems(column, center, center);
    }
    .time {
      position: relative;
      width: 10%;
      div {
        font-size: 0.625rem;
        font-weight: bold;
        width: 55%;
        margin: 0 auto;
      }
    }
    .team {
      padding: 0.1rem 0.5rem;
    }
  }
}

footer {
  width: 100%;
  background-color: $darkSlateGray;
  color: $silver;
  .footer__div {
    .copyright-text {
      margin-top: 2rem;
      margin-left: 0.5rem;
      padding-left: 1rem;
    }
    .footer-nav {
      width: 45%;
      .footer-list {
        @include flexItems(column, flex-start, center);
        li {
          display: inline-block;
          margin-left: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  header {
    background-color: $darkBlue;
    .nav {
      &_list {
        a {
          color: $silver;
          &:hover {
            color: #fff;
          }
        }
      }
    }

    #filter_button.Mui-disabled {
      background-color: #fff;
      color: $darkBlue;
    }
  }

  main {
    padding: 5rem 0;
    width: 90%;
    margin: 0 auto;
  }

  table {
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    thead {
      tr {
        &:nth-of-type(1) {
          background-color: $primaryColor;
        }
      }
      th {
        border-color: $silver;
        color: $black;
      }
    }
    tbody {
      .date {
        background-color: #0099fa;
        font-weight: bold;
      }
    }
  }

  footer {
    color: $silver;
    background-color: $darkBlue;
  }
}

@media only screen and (min-width: 992px) {
  table {
    tbody {
      td {
        &:nth-of-type(4) {
          text-align: center;
        }
      }
    }
  }
  footer {
    width: 100%;
    .footer__div {
      @include flexItems(row, space-between, center);
      .copyright-text {
        margin-top: 0;
        margin-left: 2rem;
        padding-left: 0rem;
      }
      .footer-nav {
        width: 55%;
        .footer-list {
          padding: 0;
          @include flexItems(row, center, center);
          li:nth-of-type(3) {
            flex-grow: 2;
          }
        }
      }
    }
  }
}
