body {
  color: $primaryColor;
}

.header {
  width: 100%;
  background-color: $black;
  position: fixed;
  top: 0;
  &__div {
    @include flexItems(row, flex-start, center);
  }
  .nav {
    width: 50%;
    margin-left: 5rem;
    &_list {
      width: 100%;
      text-align: center;
      a {
        color: $primaryColor;
        text-decoration: none;
        width: 20%;
        font-family: 1.5rem;
        padding: 0.5rem;
        margin: 1rem;
        &:hover {
          color: rgba(21, 51, 78, 1);
        }
      }
    }
  }
}

aside {
  margin-top: 6.25rem;
  width: 20%;
}

main {
  width: 50%;
  padding: 6.25rem 2rem;
  .loadingText {
    margin-top: 0.5rem;
    text-align: center;
  }
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.75rem;
  margin-top: 2rem;
  table-layout: auto;
  thead {
    font-weight: bold;
    box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
    th {
      padding: 1rem;
      color: whitesmoke;
      &:nth-of-type(1) {
        text-align: left;
        padding-left: 1rem;
      }
    }
  }
  tbody {
    td {
      box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
      text-align: center;
      padding: 0.5rem;
      span {
        display: inline-block;
        margin: auto;
      }
    }
    .time {
      position: relative;
      width: 10%;
      div {
        font-size: 0.625rem;
        font-weight: bold;
        display: block;
        position: absolute;
        top: 30%;
        right: 0;
      }
    }
  }
  .team {
    text-align: left;
    padding-left: 0.5rem;
    &:first-of-type {
      margin-bottom: 0.425rem;
    }
  }
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
