$primaryColor: #0099FA;
$darkBlue: #031626;
$black: black;

@mixin flexItems($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}