html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: silver;
}

.header {
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1201;
}

.header__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav {
  width: 50%;
  margin-left: 5rem;
}

.header .nav_list {
  width: 100%;
  text-align: center;
}

.header .nav_list a {
  color: silver;
  text-decoration: none;
  width: 20%;
  font-family: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
}

.header .nav_list a:hover {
  color: #612a11;
}

aside {
  margin-top: 6.25rem;
  width: 20%;
}

main {
  width: 60%;
  margin: 0 auto;
  padding: 6.25rem 2rem;
}

main .loadingText {
  margin-top: 0.5rem;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.75rem;
  margin-top: 2rem;
  table-layout: auto;
}

table thead {
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
}

table thead th {
  padding: 1rem;
  color: whitesmoke;
}

table thead th:nth-of-type(1) {
  text-align: left;
  padding-left: 1rem;
}

table tbody td {
  -webkit-box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 0.5rem;
}

table tbody td span {
  display: inline-block;
  margin: auto;
}

table tbody .time {
  position: relative;
  width: 10%;
}

table tbody .time div {
  font-size: 0.625rem;
  font-weight: bold;
  display: block;
  position: absolute;
  top: 30%;
  right: 0;
}

table .team {
  text-align: left;
  padding-left: 0.5rem;
}

table .team:first-of-type {
  margin-bottom: 0.425rem;
}

footer {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright-text {
  margin-left: 2rem;
}

footer .footer-nav {
  width: 45%;
}

footer .footer-nav .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-nav .footer-list li {
  display: inline-block;
  margin-left: 1rem;
}

@media screen and (max-width: 620px) {
  .searchBox:hover > .searchInput {
    width: 150px;
    padding: 0 6px;
  }
}
/*# sourceMappingURL=App.css.map */