html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: black;
  font-size: 0.875rem;
}

.header {
  width: 100%;
  background-color: #163048;
  position: fixed;
  top: 0;
  z-index: 1201;
}

.header__div__sm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__div__lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav {
  width: auto;
  margin-left: auto;
}

.header .nav_list {
  width: 100%;
  text-align: center;
}

.header .nav_list a {
  color: #ccc;
  text-decoration: none;
  width: 20%;
  font-family: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
}

.header .nav_list a:hover {
  color: #fff;
}

#filter_button.Mui-disabled {
  background-color: #ccc;
  color: #031626;
  opacity: 0.7;
  font-weight: bold;
}

.side-nav {
  margin-top: 4rem;
}

.side-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.side-nav-list a {
  text-decoration: none;
  font-weight: 500;
  padding: 1rem;
  color: #ccc;
}

main {
  padding: 2.1875rem 0;
}

main .loadingText {
  color: #ccc;
  margin-top: 1rem;
  padding-top: 3rem;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 0.75rem;
  table-layout: auto;
}

table tr:nth-child(even) {
  background-color: #dddddd;
}

table thead {
  font-weight: bold;
}

table thead tr:nth-of-type(1) {
  background-color: #0099FA;
}

table thead th {
  border-width: 2px;
  border-style: solid;
  border-color: #ccc;
  padding: 0.7rem;
  color: black;
}

table thead th:nth-of-type(1) {
  border-left-width: 0;
  padding-left: 1rem;
}

table thead th:last-of-type {
  border-right-width: 0;
  width: 4%;
}

table tbody .date {
  background-color: #0099fa;
  font-weight: bold;
}

table tbody .date th {
  padding: 0.5rem;
}

table tbody td {
  text-align: center;
  padding: 0.5rem;
  vertical-align: middle;
}

table tbody td:nth-of-type(4) {
  text-align: left;
}

table tbody td:nth-of-type(5) {
  padding: 0.5rem 0.2rem;
}

table tbody td:last-of-type {
  width: 4%;
  padding: 0.5rem 0.1rem;
}

table tbody td span {
  display: inline-block;
}

table tbody .lg-sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table tbody .md-sc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

table tbody .time {
  position: relative;
  width: 10%;
}

table tbody .time div {
  font-size: 0.625rem;
  font-weight: bold;
  width: 55%;
  margin: 0 auto;
}

table tbody .team {
  padding: 0.1rem 0.5rem;
}

footer {
  width: 100%;
  background-color: #163048;
  color: #ccc;
}

footer .footer__div .copyright-text {
  margin-top: 2rem;
  margin-left: 0.5rem;
  padding-left: 1rem;
}

footer .footer__div .footer-nav {
  width: 45%;
}

footer .footer__div .footer-nav .footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__div .footer-nav .footer-list li {
  display: inline-block;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1rem;
  }
  header {
    background-color: #031626;
  }
  header .nav_list a {
    color: #ccc;
  }
  header .nav_list a:hover {
    color: #fff;
  }
  header #filter_button.Mui-disabled {
    background-color: #fff;
    color: #031626;
  }
  .side-nav-list a {
    color: #031626;
  }
  main {
    padding: 5rem 0;
    width: 90%;
    margin: 0 auto;
  }
  main .loadingText {
    color: #031626;
  }
  table tr:nth-child(even) {
    background-color: #dddddd;
  }
  table thead tr:nth-of-type(1) {
    background-color: #0099FA;
  }
  table thead th {
    border-color: #ccc;
    color: black;
  }
  table tbody .date {
    background-color: #0099fa;
    font-weight: bold;
  }
  footer {
    color: #ccc;
    background-color: #031626;
  }
}

@media only screen and (min-width: 992px) {
  table tbody td:nth-of-type(4) {
    text-align: center;
  }
  footer {
    width: 100%;
  }
  footer .footer__div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__div .copyright-text {
    margin-top: 0;
    margin-left: 2rem;
    padding-left: 0rem;
  }
  footer .footer__div .footer-nav {
    width: 55%;
  }
  footer .footer__div .footer-nav .footer-list {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__div .footer-nav .footer-list li:nth-of-type(3) {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}
/*# sourceMappingURL=App.css.map */