* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(21, 51, 78);
  background: radial-gradient(
    circle,
    rgba(21, 51, 78, 1) 28%,
    rgba(6, 19, 25, 1) 56%,
    rgba(12, 29, 34, 1) 65%
    );
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
